<footer class="site-footer futer">
<div class="container kontenjer">
  <div class="text-center col-md-4">
    &copy; <img class="baner" src="../images/Soda izlog.png" alt="Logo">
  </div>

  <div class="col-md-4 footer">
    <h5 class="footer1"> Nacin placanja: </h5>
    <ul>
      <li href="#"> Gotovinski </li>
      <li href="#"> Cek na odlozeno </li>
      <li href="#"> Gradjevisnki kredit </li>
    </ul>
  </div>
  <div class="col-md-4 footer">
    <h5 class="footer1"> Informacije za kupce: </h5>
    <ul class="footer2">
      <li href="#"><a href="kontakt.html"> Kontakt</a> </li>
      <li href="lokacija.html"><a href="lokacija.html">Lokacija</a></li>
      <li href="#"><a href="dostava.html"> Dostava</a> </li>
    </ul>
  </div>
</div>

</footer>
