<header class="site-header">

  <div class="container" >
    <div class="logo-container text-center">
      <a href="index.html">
        <img class="baner1" src="../images/Soda logo.png" alt="logo">
      </a>
    </div>
    <!-- Linija sa dugmicima-->
    <ul class="nav nav-pills nav-justified main-nav linija">
      <li>
        <a href="../uradisam.html">URADI SAM</a>
      </li>
      <li>
        <a href="pronadjiradnika.html">PRONAĐJI RADNIKA</a>
      </li>
      <li>
        <a href="informacije.html">INFORMACIJE</a>
      </li>
    </ul>
  </header>
